@import "tailwindcss";

@font-face {
  font-family: "Jetbrain-Mono";
  src: url("public/fonts/JetBrainsMono-Regular.ttf") format('ttf');
  font-weight: 400;
  font-style: normal;
}

.jb {
  font-family: 'Jetbrain-Mono';
}
