@import "tailwindcss";

/* custom class driven dark theme for testing */
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "Jetbrains-Mono";
  src: url("public/fonts/JetBrainsMono-Regular.ttf") format('ttf');
  font-weight: 400;
  font-style: normal;
}

.jb {
  font-family: 'Jetbrains-Mono';
}