name: Testing

on:
  push:
    branches:
      - master
      - parser
  pull_request:
  workflow_dispatch:

jobs:
  parser:
    name: test parser
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
      - name: Run Test
        run: bun test
